@page
@{
    ViewData["Title"] = "Northwind B2B";
}

<div class="row">
    <h2 class="display-3">Welcome to Northwind B2B</h2>
    <p class="lead">We supply products to our customers.</p>
    <hr>
</div>
<div class="row">
    <p>It's @DateTime.Now.ToString("dddd"), Our customers include restaurants, hotels, and cruise lines.</p>
</div>
    <a class="btn btn-primary" href="\suppliers">See our Supplier List</a>
    <a class="btn btn-primary" href="\orders">View our orders count.</a>
    <a class="btn btn-primary" href="\MPA\Employees">Meet our employees.</a>
