@page
@{
    ViewData["Title"] = "Northwind B2B";
}

<h2 class="display-3">Welcome to Northwind B2B</h2>
<p class="lead">We supply products to our customers.</p>
<hr>
<p>It's @DateTime.Now.ToString("dddd"), Our customers include restaurants, hotels, and cruise lines.</p>
<a class="btn btn-primary" href="\suppliers">See our Supplier List</a>